* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --drop-primary: rgba(0, 97, 255, 1);
    --drop-section-bg: rgba(180, 208, 231, 1);
    --drop-box-bg: rgba(245, 245, 245, 1);
    --drop-font: rgba(97, 8, 43, 1);
    --drop-footer: rgba(0, 0, 0, 1);
}

.container-big {
    width: 100%;
}

.container-medium {
    width: 70%;
    margin: 0 3rem;
}

.container-small {
    width: 50%;
    margin: 0 5rem;
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
}

/* #region header */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* #endregion header */
/* #region main */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
}
.jumbotron {
    background-color: var(--drop-section-bg);
    display: flex;
    justify-content: center;
    height: 500px;
}

.presentation {
    position: relative;
}

.presentation-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.presentation-img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.column{
    width: calc(100%/3);
    display: flex;
    gap: 5rem;
}
.card{
    border: 1px solid;
    margin: 0 2rem;
}
.horizontal{
    position: relative;
}
.find-a-partner{
    margin: 5rem 0;
    display: flex;
    align-items: center;
}
.partner-img{
    width: 60%;
}
#partner{
    max-width: 100%;
}
.partner-text{
    width: 40%;
}
/* #endregion main */